@page
@model GiapTech.Dentify.Web.Pages.Patients.CreateModalModel
@using GiapTech.Dentify.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@inject IHtmlLocalizer<DentifyResource> L

<form asp-page="/Patients/CreateModal" method="post">
    <abp-modal>
        <abp-modal-header title="@L["NewPatient"].Value"></abp-modal-header>
        <abp-modal-body>
            <abp-input asp-for="Patient.FullName" label="@L["Patient:FullName"].Value" />
            <abp-input asp-for="Patient.DateOfBirth" label="@L["Patient:DateOfBirth"].Value" />
            <abp-select asp-for="Patient.Gender" asp-items="Model.Genders" label="@L["Patient:Gender"].Value" />
            <abp-input asp-for="Patient.PhoneNumber" label="@L["Patient:PhoneNumber"].Value" />
            <abp-input asp-for="Patient.Email" label="@L["Patient:Email"].Value" />
            <abp-input asp-for="Patient.Address" label="@L["Patient:Address"].Value" />
            <abp-input asp-for="TagsText" label="@L["Patient:Tags"].Value" />
            <abp-textarea asp-for="Patient.Notes" label="@L["Patient:Notes"].Value" rows="3" />
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Save | AbpModalButtons.Cancel)"></abp-modal-footer>
    </abp-modal>
</form>
